.header {
  background: navy;
  border-bottom: 1px solid navajowhite;
}
/* .fa.fa-bars {
  padding: 30px;
  cursor: pointer;
  color: red;
} */

.headeropt {
  display: flex;
}

.logo {
  padding-top: 8px;
}

.logo img {
  margin-top: 10px;
}
