.footer {
  margin-top: 20px;
  background: green;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  height: 20px;
  padding: 10px;
}

.right {
  flex-grow: 1;
  color: black;
  font-size: 12px;
}
