.newlist_item {
  border: 1px solid greenyellow;
  background: papayawhip;
  margin-top: 14px;
  padding: 8px 5px 0 5px;
}

.newlist_item h2 {
  font-size: 13px;
  line-height: 21px;
  margin: 5px 0;
  color: blue;
}

.newslist_wrapper {
  box-sizing: border-box;
  opacity: 0;
  transform: translateX(-100%);
  transition: all 0.5s ease-in;
}
.newslist_wrapper_enter {
  opacity: 1;
  transform: translateX(0%);
}
